# ROS Build Artifacts
build/
devel/
install/
logs/
.catkin_workspace
src/CMakeLists.txt
src/realsense-ros/realsense2_camera/CATKIN_IGNORE
src/realsense-ros/realsense2_description/CATKIN_IGNORE
*.pyc
__pycache__/

# IDEs
.vscode/
.idea/

# Large Files (Optional but recommended)
*.bag
*.bag.active
*.pgm
